@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overscroll-none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-white/10;
  }
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* react-grid-layout overrides for dark theme */
.react-grid-item.react-grid-placeholder {
  @apply rounded-2xl bg-accent/20 !important;
}

.react-resizable-handle::after {
  border-color: rgba(255, 255, 255, 0.2) !important;
}
